*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}
body{
    min-height: 100vh;
}
.container{
    position: relative;
}
.header{
 position: relative; 
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    padding: 5px;
    background: #6f4e37;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
.navbar ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
    margin-right: 50px;
    gap: 15px;
}
.navbar ul li{
    list-style: none;
    
}
.navbar ul li a{
    text-decoration: none;
    color:white;
}
.header a{
    text-decoration: none;
    color:white;

}

.navbar a{
    font-size: 18px;
    color: aliceblue;
    text-transform:capitalize;

}
.navbar a:hover{
    /* color:#92715a; */
}
.logo{
    font-size: 18px;
    text-decoration: none;

}
.navbar a::before{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: whitesmoke;
    transition: .3s;
}
.navbar a:hover::before{
    width: 100%;
}
.header a{
    margin-left: 40px;
    position: relative;
}
.header i{
    font-size: 25px;
    color: white;
    position: absolute;
    left: 195px;
}
.home{
    min-height: 100vh;
    color:red;
    background: url(./cup-coffee-with-pile-coffee-beans.jpg);
    background-size: cover;
    background-position: center;


}
.home .content{
    color: rgb(255, 255, 255);
    position: absolute;
    top:150px;
    left:800px;
}
.home .content h2{
    font-size: 3.9rem;
    text-transform: uppercase;
}
.btn{
    font-size: 1.3rem;
    outline: none;
    border: none;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    background: #d3ad7f;
    border:2px solid rgba(255,255,255,.3);
    text-transform: capitalize;
    margin-top: 15px;
    color: #fff;
    margin-left: 10px;
}
.btn:hover{
    background: #fff6eb;
    color: #d3ad7f;
}

.abouthead{
    margin-top: -50px;
    text-align: center;
    color: #d3ad7f;
    text-transform: uppercase;
    font-size: 2.5rem;
}  
.about .row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
}
.about{
    padding-top: 50px;
    margin-top: 30px;
}

.aboutimage{
    margin: auto;
    width: 500px;
    height: 300px;
    border: 20px solid  #d3ad7f;
}
.about h3{
    margin-left: 40px;
    font-size: 30px;
    font-style: oblique;
    text-align: center;
}
.about p{
    font-size: 20px;
    letter-spacing: 0.5px;
    color:black;
    margin-top: 30px;
    margin-left: 25px;
}
.aboutcontent{
    margin-left: 30px;
}
.btn2{
    font-size: 1.2rem;
    outline: none;
    border: none;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    background: #d3ad7f;
    border:2px solid rgba(255,255,255,.3);
    text-transform: capitalize;
    margin-top: 15px;
    color: #fff;
    margin-left: 20px;
}
.line{
    width: 100px;
    margin-left: 250px;
    margin-top: 35px;
    margin-bottom: 35px;
    height: 3px;
    background-color: #d3ad7f;
}
.boxcontainer{
    background-color: red;
    height: 100vh;

}
.menu .row1 {
    display: grid;
    grid-template-columns: auto auto auto;
    gap:30px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
 .row1 img{
    width: 170px;
    height: 170px;
    object-fit: contain;
    object-position: center;
    margin-left: 30px;
}
.row1 .card{
    width: 240px;
    height: 240px;
    border: 1px solid black;
    background: #6f4e37;
    padding: 5px;
    margin-top: 50px;
}
.menu{
    transition: 0.2s;
}
.menu .row1 .card:hover{
    transform: scale(1.13);
}
.row1 .card:hover{
    background-color: #d3ad7f; ;
}
.menu{
    background-image: linear-gradient(#e2b88b,#e2b28870);
    padding-top: 30px;
    margin-top: 60px;
    height: 750px;
}
.menu .heading{
    font-weight: bolder;
    font-family: Verdana;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
}
.menu .heading:hover{
    color:  #6f4e37;
    font-size: 37px;
}
.card .card3{
    width: 150px;
    margin-left: 50px;
}
.card h4{
    text-align: center;
    font-size: 20px;
    color: white;
    font-style: italic;
    text-transform: capitalize;
}
.lastcard{
    width: 170px;
}
.card h5{
    text-align: center;
    margin-top: 5px;
    font-size: 17px;
    color: white;
}
.products{
    background-image:linear-gradient(#ecd2b6,#e2b28870);
    padding-top: 30px;
    height: 550px;
}
.products .producthead{
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Verdana;
}
.producthead:hover{
    color: #6f4e37;
    font-size: 32px;
}
.stars{
    padding: 5px;
    margin-left: 70px;
}
.stars i{
    color: yellow;
    font-size: 13px;
}
 .productcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
}
.productcontainer .box{
    width: 270px;
    height: 320px;
    border: 1px solid black;
    background: #6f4e37;
    padding: 12px;
    margin-top: 50px;
}
.box .productcontent{
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    font-style: italic;
}
.box img{
    width: 170px;
    height: 170px;
    margin: auto;
    object-fit: contain;
    object-position: center;
    margin-left: 30px;
}
.box .product1{
        margin-left: 46px;
}
.box .product3{
    margin-left: 40px;
}
.price h5{
    text-align: center;
    color: #fff;
    font-size: 17px;
    padding: 3px;
}
.productcontainer .box:hover{
    background-color: #d3ad7f; ;
}
.products{
    transition: 0.2s;
}
.products .productcontainer .box:hover{
    transform: scale(1.12);
}
.pb{
    font-size: 15px;
    font-weight: bold;
    outline: none;
    border: none;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    background: #d3ad7f;
    border:2px solid rgba(255,255,255,.3);
    text-transform: capitalize;
    margin-top: 10px;
    color: #fff;
    margin-left: 50px;
}
.pb i{
    font-size: 14px;
}
.pb:hover{
    background-color: rgb(71, 187, 71);
    border: 0.5px solid black;
}
.contacthead{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
}
.contact .contactheading{
    text-align: center;
    margin-top: 80px;
    text-transform:capitalize;
    font-size: 35px;
    font-weight: bold;
    margin-top: 35px;
    font-family: Verdana;
}
.contacthead .contactimg{
    width: 700px;
    height: 600px;
    margin-right: 50px;
}
.inputbox{
    margin: auto;
    margin-right: 50px;
    border: 2px solid black;
    padding: 60px;
    background-color: #6f4e37;
    height: 450px;
    width: 600px;
}
.contactfull{
    margin-top: 30px;
}
.form{
    width: 400px;
    height: 35px;
    border: 1px solid white;
    border-radius: 3px;
    padding: 20px;
    margin: 10px;
    font-family: sans-serif;
}
.contactheading2{
    text-align: center;
    color: #fff;
    font-size: 25px;
    margin-top:-30px;
}
.contactbtn{
    width: 50%;
    height: 40px;
    background-color:chocolate;
    padding: 10px;
    margin-top: 10px;
    font-weight: bold;
    color:white;
    font-size: 15px;
    border-radius: 20px;
    border:none;
    cursor: pointer;
}
label{
    color: #fff;
    margin-left: 6px;
    font-weight: bold;
}
/* review */
.review{
    background-color:  #f4f5f4;
    padding: 15px;
}
.reviewheading{
    text-align: center;
    margin-top: 45px;
    font-size: 30px;
    font-weight: bold;
    font-family: Verdana;
}
.boxhead{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-top: 65px;
    padding: 5px;
}
.reviewcard{
    width: 400px;
    height: 230px;
    background-color:#d3ad7f;
    padding: 30px 20px;
    border: 1px solid #1d1c1c;
    box-shadow: 0 4px 6px #777777cb, 0 4px 6px #faf7f761;
    border-radius: 0px 30px 0px 30px;
}
.profile img{
    width: 40px;
    height: 40px;
    object-fit:cover;
    object-position: center;
    border-radius: 50%;
    margin-top: 20px;
}
.reviewstars i{
    color: gold;
    font-size: 15px;
}
.reviewcontent p{
    font-size: 17px;
    color:#fff;
    margin-top: 15px;

}
.cusname{
    font-weight: bold;
    font-size: 18px;
    margin-left: 50px;
    margin-top: -30px;
}
/* footer */
footer{
    background: #343434;
    color: #8a8a8a;
    font-size: 14px;
    margin-top: 40px;
}
.footercontainer{
    width:100%;
    padding: 70px 30px 20px;
}
.socialicons{
    display: flex;
    justify-content: center;
}
.socialicons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialicons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}
.socialicons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialicons a:hover i{
    color: white;
    transition: 0.5s;
}
.end{
    margin: 30px 0;
}
.end ul{
    display: flex;
    justify-content: center;
}
.end ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
    list-style: none;
}
.end li{
    list-style: none;
}
.end ul li a:hover{
    opacity: 1;
}
.footerbottom {
    background-color: #202020;
    padding: 20px;
    text-align: center;
}
.footerbottom p{
    color: #f1f1f1;
    letter-spacing: 0.5px;
}
